@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Oleo+Script:wght@400;700&display=swap');

.AccountCreationPage {
  background-repeat: no-repeat;
  background-size: calc(100% + 180px) auto;
  background-position: center 45%;
  background-position-x: calc(50% + 80px);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("../../assets/ManagerCreate.png");
  text-align: center;
  font-family: "Oleo Script", system-ui;
}

.OpeningHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NameOfBrand {
  margin-top: 60px;
  font-family: "Monoton", sans-serif;
  color: gold;
}

.OpeningLine {
  font-size: 32px;
  max-width: 500px;
}

.GuidanceText {
  font-size: 32px;
  max-width: 650px;
  margin-top: 60px;
}

.RadioGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  font-size: 32px;
}

/* ===== MANAGER AREA ===== */
.ManagerArea {
  background-repeat: no-repeat;
  background-size: calc(100% + 180px) auto;
  height: 100%;
  background-position: center 45%;
  background-position-x: calc(50% + 80px);
}

.ManagerHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.ManagerNameOfBrand {
  margin-top: 60px;
  font-family: "Monoton", sans-serif;
  color: gold;
  margin-left: 135px;
}

.ManagerInfo {
  justify-self: center;
  margin-top: 70px;
}

.ManagerHeader div {
  justify-self: end;
  font-size: 24px;
  margin-right: 50px;
}

.TidBit {
  margin-top: -20px;
  font-size: 19px;
}

.RequiredInformationArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 60px;
  margin-left: 20px;
}

.ManagerName {
  font-size: 32px;
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid gold;
  color: white;
  padding: 4px 0;
  font-family: "Oleo Script", system-ui;
  width: 400px;
  display: block;
}

.ManagerPass {
  font-family: "Oleo Script", system-ui;
  font-size: 32px;
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid gold;
  color: white;
  padding: 4px 0;
  width: 400px;
  margin-top: 50px;
}

.VenueView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}

.VenueEntry {
  font-family: "Oleo Script", system-ui;
  font-size: 32px;
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid gold;
  color: white;
  padding: 4px 0;
  width: 420px;
}

.ManagerSubmit, .BandSubmit {
  background: none;
  border: 2px solid #bb00ff;
  color: gold;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  margin-top: -50px;
}

.BandSubmit {
  border: none;
}

.BandSubmit {
  background: black;
  margin-top: 20px;
}

.ManagerSubmit:hover, .BandSubmit:hover {
  box-shadow: 0 0 10px #bb00ff, 0 0 20px #bb00ff;
  color: white;
}

.FillableTitleArea {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.GenreSelector {
  padding: 12px 18px;
  border-radius: 8px;
  border: 3px solid gold;
  background: black;
  color: gold;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 0.2s, box-shadow 0.2s;
  justify-self: start;
  margin-left: 50px;
}

.GenreSelector:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px gold;
}

.GenreSelector:focus {
  outline: none;
  border-color: white;
}

.NameOfBrandTitle {
  text-align: center;
  font-family: "Monoton", sans-serif;
  color: gold;
  font-size: 36px;
}

.BackClick {
  justify-self: end;
  margin-right: 30px;
  font-size: 32px;
  cursor: pointer;
}

.BandNameGoesHere,
.OriginGoesHere,
.SongEntry,
.AboutEntry,
.GoalsOfEntry,
.GoalsOfEntryTwo {
  font-size: 32px;
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid gold;
  padding: 4px 0;
  width: 300px;
}

.OriginGoesHere { 
  width: 350px;
}

.GoalsOfEntry {
  margin-top: -30px;
}

.GoalsOfEntryTwo {
  margin-top: 0px;
  width: 400px;
}


.SongEntry, .AboutEntry {
  margin-top: -30px;
  margin-bottom: 30px;
}

.AboutEntry {
  width: 350px;
}

.SongEntry {
  margin-left: 30px;
}

.SocialEntry {
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid gold;
  font-size: 24px;
  padding: 4px 0;
  width: 240px;
}

.BandNameGoesHere::placeholder,
.OriginGoesHere::placeholder,
.SocialEntry::placeholder,
.SongEntry::placeholder,
.AboutEntry::placeholder,
.GoalsOfEntry::placeholder,
.GoalsOfEntryTwo::placeholder {
  opacity: 0.7;
  font-style: italic;
}

.UsefulTidBit {
  max-width: 400px;
  font-size: 20px;
}

.LayoutChangeArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}

.SwipeZone {
  touch-action: pan-y;
}

.StyleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LineOfSocials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.SocialInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.SocialImage {
  background-image: url("../../assets/SocialHandle.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.EarlyBandSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.SongLand {
  margin-left: -120px;
}

.DescriptionLand {
  margin-right: -120px;
}

.ButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.NewUserBottom {
  margin-top: -190px;
}

.FutureGoalsLand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.PhotoOfTheGroup {
  background-image: url("../../assets/GroupPhoto-Metal.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 60px;
}

.fillOutableBandProfile,
.fillOutableBandProfile * {
  font-family: inherit;
  color: inherit;
}

.fillOutableBandProfile input,
.fillOutableBandProfile textarea,
.fillOutableBandProfile select,
.fillOutableBandProfile button {
  font-family: inherit !important;
  color: inherit !important;
}

.fillOutableBandProfile ::placeholder {
  font-family: inherit;
  color: inherit;
  font-style: normal;
  opacity: 0.7;   
}

.genre-punk .SongLand,
.genre-punk .FutureGoalsLand,
.genre-punk .DescriptionLand {
  margin-top: -120px;
  transform: scale(0.75);
}

.genre-punk .DescriptorAreaLand {
  transform: scale(.9);
  margin-top: 20px;
}

.genre-punk .PhotoOfTheGroup,
.genre-pop .PhotoOfTheGroup {
  transform: scale(2.5);
  margin-top: 20px;
}

.genre-pop .TopOfBandArea {
  margin-top: -20px;
}

.genre-punk .StyleDiv,
.genre-punk .LineOfSocials {
   transform: scale(0.65);
}

.genre-pop .SocialEntry {
  width: 300px;
}

.genre-grunge .SocialEntry {
  width: 320px;
}

.genre-grunge .GoalsOfEntry {
  width: 375px;
}

.genre-grunge .GoalsOfEntryTwo,
.genre-grunge .AboutEntry  {
  width: 460px;
}

.genre-grunge .FutureGoalsLand {
  margin-top: 50px;
}

.genre-grunge .PhotoOfTheGroup {
  transform: scale(2.5);
  margin-bottom: 20px;
}

.genre-pop .SongBtn,
.genre-pop .BandSubmit {
  background: aqua;
}

.genre-punk .BandNameGoesHere,
.genre-punk .OriginGoesHere,
.genre-punk .SocialEntry {
  width: 400px;
}

.genre-punk .AboutEntry,
.genre-punk .GoalsOfEntry {
  width: 500px;
}

.genre-punk .GoalsOfEntryTwo {
  width: 600px;
}

.genre-punk .BandSubmit {
  margin-top: -30px;
}

.genre-punk .TopOfBandArea {
  margin-top: -60px;
}

.genre-punk .LineOfSocials {
  margin-top: -30px;
}

.genre-punk .SongEntry {
  width: 400px;
}

.genre-metal input {
  border-bottom: 2px solid black;
}

.genre-metal .FutureGoalsLand {
  margin-top: 30px;
}

.genre-metal .PhotoOfTheGroup,
.genre-country .PhotoOfTheGroup {
  transform: scale(2.7);
}

.genre-rock .PhotoOfTheGroup {
  transform: scale(2.7);
}

.genre-country .PhotoOfTheGroup {
  margin-top: -10px;
}

.genre-country .SongEntry {
  width: 450px;
}

.genre-country .BandNameGoesHere,
.genre-country .OriginGoesHere,
.genre-country .SocialEntry,
.genre-country .GoalsOfEntry {
  width: 450px;
}

.genre-country .AboutEntry {
  width: 520px;
}

.genre-country .GoalsOfEntryTwo {
  width: 580px;
}

.genre-rock .FutureGoalsLand,
.genre-country .FutureGoalsLand {
  margin-top: 40px;
}

.genre-alternative .PhotoOfTheGroup {
  transform: scale(2.3);
}

.genre-alternative .FutureGoalsLand {
  margin-top: 30px;
}

.genre-gospel .BandNameGoesHere, 
.genre-gospel .OriginGoesHere,
.genre-gospel .SocialEntry,
.genre-gospel .AboutEntry,
.genre-gospel .SongEntry,
.genre-gospel .GoalsOfEntry {
  width: 450px;
}

.genre-gospel .GoalsOfEntryTwo {
  width: 520px;
}

.genre-gospel .PhotoOfTheGroup {
  transform: scale(2.3);
}

.genre-gospel .SongBtn,
.genre-gospel .BandSubmit,
.genre-latin .SongBtn,
.genre-latin .BandSubmit {
  background: transparent;
  border: 2px solid gold;
}

.genre-punk * {
  color: red !important;
}

.genre-punk .SongBtn,
.genre-punk .BandSubmit {
  background: black;
}

.Glue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.PerformancesLand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PerformanceInformationLand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.PerformanceInformationLand input {
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid gold;
  font-size: 24px;
  padding: 4px 0;
  width: 240px;
}

.PerformanceTidBit {
  font-size: 35px;
  max-width: 400px;
}


.AlbumsLand {

}

.AlbumTidBit {
  font-size: 35px;
  max-width: 400px;
}